@media only screen and (min-width: 577px){
    .employment-history-container {
        width: 50%
    }
}
.employment-container {
    padding: 50px 1rem;
}

.employment-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.employment-history-list-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.employment-history-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    position: relative;
}

.employment-history-container::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    top: 4px;
    left: 0px;
}

.employment-history-container:not(:last-child)::after{
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% + 2rem);
    background-color: white;
    top: 8px;
    left: 4px;
}

.employment-history-title{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 8px;
}

